<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Connect your org to hipchat to be able to send notifications directly into the chat room.</p>

  <br>
  <br>
  <%= link_to "Org1 settings", hipchat_configs_installed_path %>

</div>
